<!-------this is device Control form Post action page-->
<!doctype html>
<html>
 <head>
 <title>Control Device!</title>
 <link rel="stylesheet" type="text/css" href="/css/mystyles.css">
</head>
<body>
  <h1> SMART HOME</h1>
  <!--------this is Navigation bar  with links to other pages----->
  <ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/devices">Add Device</a></li>
    <li><a href="/device-status">Device Status</a></li>
    <li><a href="/device-control">Control Device</a></li>
    <li><a href="/delete-device">Delete Device</a></li>
     
</ul>

<!----EJS code passing variables from middleware, displays message of device settings changed by user-->
<h2>your smart <%=newdevice[3]%> device <%=newdevice[2]%> is now  
  <%if(newdevice[0]==0&&newdevice[3]!="Curtains")
  {%> turned OFF <%}

  else if(newdevice[0]==1&&newdevice[3]!="Curtains")
  {%>  turned ON <%}

  if(newdevice[0]==1&&newdevice[3]=="Music Player")
  {%> & device volume is set <%=newdevice[1]%> <%} %>
  


  <%if(newdevice[0]==0&&newdevice[3]=="Curtains")
  {%>  closed<%}
  else if(newdevice[0]==1&&newdevice[3]=="Curtains")
  {%>  open<%} %> </h2>

</body>
</html>
