<!doctype html>
<html>
  <!---this is Home and About page -->
 <head>
   <!-----Home Page with Title-->
   <title>SMART HOME</title>
   <link rel="stylesheet" type="text/css" href="/css/mystyles.css">
 </head>

 <!-----body of homepage-->
 <body>
   <!-----Main Heading-->
   <h1> SMART HOME</h1>

   <!-----Navigation bar with links to other pages-->
   <ul id="menu">
     <li><a href="/">Home</a></li>
     <li><a href="/devices">Add Device</a></li>
     <li><a href="/device-status">Device Status</a></li>
     <li><a href="/device-control">Control Device</a></li>
     <li><a href="/delete-device">Delete Device</a></li>   
    </ul>

    <!-----Description about application-->
    <h2><strong>Welcome to Smart way of contorlling your home ! </strong></h2>
    <h3>Access all your smart devices in one place & with one click using SMART HOME app</h3>
    <h3>Add all your smart devices to SMART HOME app and manage all your devices seamlessly from anywhere & at anytime</h4>
    <h3>Once added, SmartHome app gives you an overview of all your SMART devices and enables you to control them efficiently & save energy bills</h4>
    <h3>Join the 3 million users of Smart Home app and turn your home into a SMART HOME now.</h4>
    <h3>developer : Karthik</h4>
 </body>
</html>